/* mobile */

@media screen and (max-width: 1200px) {
    .sponsor-details {
        flex-direction: column;
    }
}

/* desktop */
@media screen and (min-width: 1200px) {
    .sponsor-details {
        flex-direction: row;

        .greeting-text {
            display: flex;
            align-items: center;
            p {
                margin-left: 0.5em;
                line-height: 1.1em;
            }
        }
    }
}

.sponsor-details {
    display: flex;

    .sponsor-title {
        display: block;
        min-width: 400px;
    }

    .greeting-text p {
        margin-top: 0;
    }

    a {
        text-decoration: none;
    }

    margin-left: 2em;
    margin-bottom: 4em;

    p {
        margin-top: 0.5em;
        font-size: 1.5em;
    }

    img {
        max-width: 400px;
        max-height: 150px;
    }
}

.sponsor-overview {
    margin-top: 4em;

    h2 {
        margin-bottom: 1.5em;
    }
}
