.navbar {
    background-image: url("/leiterbahnen.svg");
    background-position: bottom;
    background-repeat: no-repeat;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        margin-bottom: 0.3em;
    }

    a {
        display: block;

        height: 2em;
        font-size: 1.2em;
    }

    .archive {
        a {
            font-size: 0.9em;
        }

        p {
            font-size: 1.1em;
            margin-bottom: 0;
        }
        ul {
            margin-left: 1em;
        }
    }
}
