.SponsoringContractForm {
  display: grid;
  grid-template-columns: 16rem 1fr;

  div {
    margin: .5rem;
  }

  .label {
    text-align: right;
  }

  input, select, textarea {
    width: 100%;
  }

  button {
    padding: .5rem;
  }

  .ziszoshyfgonpumkyn {
    position: absolute;
    right: 10000px;
  }
}